<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_astronaut_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,116},{20,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_astronaut_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,238},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_astronaut_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,215},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_astronaut_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,192},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_astronaut_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,238},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_astronaut_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,215},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_astronaut_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,173},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_astronaut_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,173},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_astronaut_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,156},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_astronaut_up_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,192},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_cat_00_lying_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,106},{12,8}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{12,8}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>char_ceo_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,116},{20,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ceo_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,238},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ceo_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,192},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ceo_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,215},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ceo_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,238},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ceo_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,192},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ceo_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,156},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ceo_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,156},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ceo_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,154},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ceo_up_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,215},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_commoner_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,116},{20,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_commoner_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,175},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_commoner_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,192},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_commoner_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,175},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_commoner_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,215},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_commoner_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,175},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_commoner_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,154},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_commoner_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,137},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_commoner_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_commoner_up_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,192},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_dog_00_lying_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,93},{12,8}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{12,8}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>char_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,81},{6,2}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{6,2}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_jetpack_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,70},{24,22}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{24,22}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>char_jetpack_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,93},{22,22}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>char_jetpack_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,93},{22,22}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>char_jetpack_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,93},{22,22}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>char_jetpack_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,72},{22,22}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>char_jetpack_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,70},{24,22}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{24,22}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>char_jetpack_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,70},{24,22}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{24,22}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>char_jetpack_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,47},{24,22}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,21},{24,22}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>char_jetpack_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,47},{24,22}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{24,22}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>char_jetpack_up_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,47},{24,22}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{24,22}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>char_ninja_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,47},{26,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ninja_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,47},{26,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ninja_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,24},{26,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ninja_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,24},{26,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ninja_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,24},{26,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ninja_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,24},{26,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ninja_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1},{26,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ninja_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1},{26,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ninja_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,1},{26,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_ninja_up_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{26,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_power_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,119},{12,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,6}}</string>
                <key>sourceSize</key>
                <string>{12,6}</string>
            </dict>
            <key>char_power_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,70},{10,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,4}}</string>
                <key>sourceSize</key>
                <string>{10,4}</string>
            </dict>
            <key>char_superhero_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,114},{20,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_superhero_move_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,137},{18,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_superhero_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,135},{18,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_superhero_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,135},{18,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_superhero_move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,116},{18,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_superhero_move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,24},{18,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_superhero_move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,95},{20,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_superhero_move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_superhero_move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,93},{20,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>char_superhero_up_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,70},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>char.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8758e105cc97d8f11d19332202971a8d$</string>
            <key>textureFileName</key>
            <string>char.pvr.ccz</string>
        </dict>
    </dict>
</plist>
