<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_billboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,79},{127,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,98}}</string>
                <key>sourceSize</key>
                <string>{127,98}</string>
            </dict>
            <key>menu_credit_cocos2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{180,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,54}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>menu_credit_ironhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,76},{98,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,25}}</string>
                <key>sourceSize</key>
                <string>{98,25}</string>
            </dict>
            <key>menu_gift_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,27},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>menu_gift_text_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,76},{83,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,25}}</string>
                <key>sourceSize</key>
                <string>{83,25}</string>
            </dict>
            <key>menu_gift_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1},{62,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,25}}</string>
                <key>sourceSize</key>
                <string>{62,25}</string>
            </dict>
            <key>menu_leaderbord.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,56},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>menu_main_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,56},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>menu_option.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,207},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,26}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>menu_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,207},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>menu_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,53},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>menu_single_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,207},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>menu_tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,27},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1cc69c94337e0c88dcaa88cd558d81c$</string>
            <key>textureFileName</key>
            <string>menu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
