<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_milk_agile.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,86},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>item_milk_dash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,69},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>item_milk_double_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,52},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>item_milk_glide.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,35},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>item_milk_strength.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,18},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>item_milk_strength_extra.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>step.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1},{75,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,16}}</string>
                <key>sourceSize</key>
                <string>{75,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>step.pvr.ccz</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05c4de0f6abbd17b4c361be6877233bc$</string>
            <key>textureFileName</key>
            <string>step.pvr.ccz</string>
        </dict>
    </dict>
</plist>
