<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,86},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>item_box_cat_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,69},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>item_box_cat_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,52},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>item_box_cat_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,35},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>item_box_cat_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,18},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>item_box_cat_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,1},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>item_cat_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,100},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>item_cat_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,91},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>item_cat_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,112},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>item_cat_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,103},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>item_milk_agile.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,100},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>item_milk_dash.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,117},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>item_milk_double_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,100},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>item_milk_glide.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,91},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>item_milk_strength.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,108},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>item_milk_strength_extra.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,91},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
            <key>step_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,86},{38,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,8}}</string>
                <key>sourceSize</key>
                <string>{38,8}</string>
            </dict>
            <key>step_disposable_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,82},{38,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,8}}</string>
                <key>sourceSize</key>
                <string>{38,8}</string>
            </dict>
            <key>step_disposable_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{38,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,8}}</string>
                <key>sourceSize</key>
                <string>{38,8}</string>
            </dict>
            <key>step_disposable_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,64},{38,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,8}}</string>
                <key>sourceSize</key>
                <string>{38,8}</string>
            </dict>
            <key>step_pulse_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,55},{38,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,8}}</string>
                <key>sourceSize</key>
                <string>{38,8}</string>
            </dict>
            <key>step_pulse_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,46},{38,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,8}}</string>
                <key>sourceSize</key>
                <string>{38,8}</string>
            </dict>
            <key>step_scroll_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,37},{38,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,8}}</string>
                <key>sourceSize</key>
                <string>{38,8}</string>
            </dict>
            <key>step_scroll_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,28},{38,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,8}}</string>
                <key>sourceSize</key>
                <string>{38,8}</string>
            </dict>
            <key>step_scroll_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,19},{38,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,8}}</string>
                <key>sourceSize</key>
                <string>{38,8}</string>
            </dict>
            <key>step_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,10},{38,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,8}}</string>
                <key>sourceSize</key>
                <string>{38,8}</string>
            </dict>
            <key>step_steady.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{38,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,8}}</string>
                <key>sourceSize</key>
                <string>{38,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>step.pvr.ccz</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8806479a6a6f2dbaa30187f74ffbf350$</string>
            <key>textureFileName</key>
            <string>step.pvr.ccz</string>
        </dict>
    </dict>
</plist>
